<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LIST</title>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${listofusers}"></span>
            </div>

            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>
    </head>
    <form th:action="@{/}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
    </form>
<body>

</body>
</html>